<html>
<head>
	<title>Scores</title>
	<meta name="author" content="Roy Matsunaga"/>
	<meta name="author" content="Matthew Swensen"/>
	<meta name="author" content="Jane Thomas"/>
	<meta name="author" content="Morgan Young"/>
	<meta name="description" content="An app designed to keep track of all office sport scores"/>
	<meta charset="utf-8"/>
	<%= stylesheet_link_tag "main" %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<header>
			<h1 class="column">Scores</h1>
			<button id="add_player" type="button">Add Player</button>
		</header>
		<div id="float_container">
			<section id="matches" class="column">
				<h2>Record Match</h2>
				<form id="new_game_form" action="games" method="post">
					<label for="game_type">Game Type:</label>
					<select id="game_type"></select>
					<h3>Participants</h3>
						<label for="player1">Player 1:</label>
						<select id="player1" required></select><br>
						<label for="player2">Player 2:</label>
						<select id="player2" required></select><br>
						<span id="same_id">Players 1 and 2 are the same.</span>
					<h3>Final Score</h3>
						<div class="versus column">
							<label for="part1_score">Player 1</label><br>
							<input id="part1_score" type="number" min="0"required>
						</div>
						<span class="versus">VS.</span>
						<div class="versus column">
							<label for="part2_score">Player 2</label><br>
							<input id="part2_score" type="number" min="0" required><br>
						</div>
						<div class="buttons">
							<input id="record_match" type="submit" value="Record Match">
							<input id="game_reset" type="reset" value="reset">
						</div>
				</form>
			</section>
			<section id="leaders" class="column">
				<h2>Leaderboard</h2>
				<label for="game_type_leader">Game Type:</label>
				<select id="game_type_leader"></select>
				<br><br>
				<table>
					<thead>
						<tr>
							<th id="rank_th">#</th>
							<th>Name</th>
							<th id="score_th">Rank</th>
						</tr>
					</thead>
					<tbody id="leaderboard">
						<tr>
							<td>data</td>
							<td>data</td>
							<td>data</td>
						</tr>
						<tr>
							<td>data</td>
							<td>data</td>
							<td>data</td>
						</tr>
						<tr>
							<td>data</td>
							<td>data</td>
							<td>data</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<footer>
			Scores Inc.<br>
			Copyright 2014<br>
			Matthew Swensen | Roy Matsunaga | Jane Thomas | Morgan Young
		</footer>
		<section id="add_player_modal">
			<div id="dialogue">
				<header>
					<h2>Add a Player</h2>
					<button id="cancel"type="button">X</button>
				</header>
				<form id="new_player_form" action="players" method="post">
					<label for="first_name">First Name:</label>
					<input id="first_name" type="text" placeholder="First name..." required><br>
					<label for="nickname">Nick Name:</label>
					<input id="nickname" type="text" placeholder="Nick name..." required><br>
					<label for="last_name">Last Name:</label>
					<input id="last_name" type="text" placeholder="Last name..." required><br>
					<div id="player_buttons" class="buttons">
						<input id="record_player" type="submit" value="Add Player">
						<input type="reset" value="reset">
					</div>
				</form>
			</div>
		</section>
		<section id="player_confirmation">
			<div id="dialogue">
				<header>
					<h2>Player Created</h2>
					<button class="ok"type="button">OK</button>
				</header>
				<p>Player was created successfully.</p>
			</div>
		</section>
		<section id="match_confirmation">
			<div id="dialogue">
				<header>
					<h2>Match Confirmation</h2>
					<button class="ok"type="button">OK</button>
				</header>
				<p>Match recorded successfully.</p>
			</div>
		</section>
	</div>

<!-- ********** SCRIPTS ********** -->

<%= javascript_include_tag "scores_ajax" %>
<%= javascript_include_tag "modal" %>

</body>
</html>
